extends layout

block content
   #wrapper
            #titlediv
            div
                  label.fn2(for='slotsel') Valitse kesto
                  select#slotsel 
                                    option(value='1') 15 minuuttia
                                    option(value='2') 30 minuuttia
                                    option(value='3' selected='selected') 1 tunti
                                    //option(value='4') 1 tunti 15 minuuttia
                                    //option(value='5') 1 tunti 30 minuuttia
                                    option(value='6') 2 tuntia     
                  //.h1 Cautus Appointment
            #calendar
                  span#message
            div#formtable2 
                  //div#speechbuble
                        //span#Info Olkaa hyvä ja valitkaa ensin aika jonka haluatte varata 
            form#formtable(onsubmit='return false')
                  div#box
                        fieldset
                              //legend yhteystiedot
                              ol
                                    li
                                          div.formlabel
                                                label.fn(for='firstname') Etunimi
                                                label.ln(for='lastname') Sukunimi
                                          div.forminput
                                                input#firstname(type='text', name='etunimi' , class='firstname' ,required='',maxlength=20, placeholder='Matti')
                                                input#lastname(type='text',required='',maxlength=30, placeholder='Meikäläinen')
                                    li
                                          div.formlabel
                                                label.formlabel(for='to') Sähköposti
                                          div.forminput
                                                input#to(type='email', required='', placeholder='esim. matti@email.fi')
                                    li
                                          div.formlabel
                                                label.formlabel(for='phone') Puhelinnumero
                                          div.forminput
                                                input#phone(type='tel',required='', placeholder='0501234567')
                                    li
                                          div.formlabel
                                                label.formlabel(for='content') Lisätietoja
                                    li
                                          div.forminput
                                                textarea#content(cols='50', rows='4',form="formtable", placeholder='Mahdollisia lisätietoja')
                                                input#startdate(type='hidden', value='')
                                                input#enddate(type='hidden', value='')
                              span.message  
                              button#send_email(type='button') Lähetä 
                              
                          
                                     
                  
      