
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Cautus Appointment Test
    link(rel='stylesheet', href='/stylesheets/teststyle.css')
    //link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    header
      h1 Cautus Test Site
    .sitecontainer
      .main-content
        h1#Calh1 Cautus Ajanvarauskalenteri
        iframe(src='/' width="555" height="1200")
        p#pl
          Ne verear latine iudicabit qui, ad pro facer mucius. Has utinam utroque in, pro cu alterum consequat gloriatur. Nam magna patrioque comprehensam no, eius illum et mea. In ipsum ridens ius, pri veri appetere ne. Est ei deleniti mediocrem, eius delenit placerat ad mea.
        p#pl
          Fuisset atomorum scripserit eu mei. Pro errem causae persius ea, ut dicta volumus qui, et commune deleniti sea. Nisl semper hendrerit cu usu, ut voluptua dissentiet instructior est. Has vitae conclusionemque ei, no mei percipit expetenda. Alia philosophia qui cu, an his wisi singulis salutatus, ei est harum invidunt voluptaria. Et prompta docendi praesent nam.
      .sidebar
            h1#Calh1 Tietoja
            p#ps Punaiset ruudut tarkoittavat jo varattuja aikoja.
            p#ps Vix ea ubique prompta nominati, cum at dicam sadipscing. Nobis perpetua interesset nam in. 
    footer
      p &copy; Cautus Oy, Oskari Putkonen, 2015
      p Running on Node.js with Express and Jade

  