body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 13px;
  
}
#calendar {
  max-width: 550px;
  max-height: 2000px;
  margin: 0 auto;
   
}
#wrapper{
  	border: 0.1em solid #ccc;	/* wrap the calendar inside a box */
  	max-width: 550px;
    max-height: 2000px;
  	box-shadow: 0.1em 0.2em 0.8em #ccc;	/* box shadow  */
    margin: 0 auto;
    
}
#phone{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#firstname{
  margin-left: 30px;
  margin-top: 30px;
  
}
#lastname{
  margin-left: 30px;
  margin-top: 30px;
}
#to{
  margin-left: 30px;
   margin-bottom: 20px;
   margin-top: 20px;
}
#content{
  margin-left: 30px;
}
#send_email{
  margin-left: 30px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#formtable{
  height: 270px;
  background-color: #6B8546;
}
.h1{
  margin-top: 20px;
  text-align: center;
  color: white;
  
}
.fc-center{
  margin-top: 20px;
  
}
.fc-next-buttom{
  background-color: darkred;
  
}
#SelectedTime{
  
  margin-left: 10px;
  margin-top: 20px;
  
  
}
@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}
#titlediv {
  background-image: url("/images/uusitesti.jpg");
  margin-bottom: 10px;
  text-align: justify;
  height: 180px;
}
textarea {
   resize: none;
   
}
#Info {
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 13px;
  text-align: center;
  
}
#speechbuble {
  border: 0.1em solid #ccc;	/* wrap the calendar inside a box */
  box-shadow: 0.1em 0.2em 0.3em #ccc;	/* box shadow  */
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
}
button:disabled {
        color: #c0c0c0;
        background-color: #ffffff;
}